/* tailwind css utilities  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* cursor setup  */
.cursor {
  position: fixed;
  border-radius: 50%;
  /* transition: all 0.1s 0s ease-in-out; */
  mix-blend-mode: difference;
  z-index: 1000;
}

.big_cursor {
  width: 50px;
  height: 50px;
  background: rgb(27, 190, 177);
}
.small_cursor {
  width: 5px;
  height: 5px;
  background: rgb(202, 112, 38);
}

*:active ~ .big_cursor {
  width: 100px;
  height: 100px;
  transition: all 0.2s 0s ease-in-out;
}
