
.typing,
.typing2 {
  position: relative;
}

.animation{
position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
}
.animate {
  
  animation: typings 1.3s steps(10) 1.7s alternate forwards;
}

.animate2 {
  animation: typings 1.3s steps(10) 2.9s alternate forwards;
}
/* type animataion  */
@keyframes typings {
  100% {
    left: 100%;
  }
}
